<!DOCTYPE html>
<html>
<head>
    <title>Semantic Scholar Paper Search</title>
    <link href="https://unpkg.com/tabulator-tables@5.5.2/dist/css/tabulator.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.5.2/dist/js/tabulator.min.js"></script>
    <style>
        button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Semantic Scholar Paper Search</h1>
    <form method="POST">
        <label for="author_name">Author Name:</label>
        <input type="text" name="author_name" id="author_name" required>
        <input type="submit" value="Search">
    </form>

    <h2>Search Results:</h2>
    <div id="search-results"></div>
    <script type="text/javascript">
        var searchResults = [
            {% for paper in paper_info %}
                {title:"{{ paper.title }}", abstract:"{{ paper.abstract }}", downloadLink:"{{ paper.DownloadLink }}", paperLink:"{{ paper.Link }}"},
            {% endfor %}
         ];
        const renderLink = (cell, formatterParams) => {
            console.log(formatterParams)
            return `<a target="_blank" href="${cell.getValue()}">${formatterParams.labelField}</a>`
        }
        var table = new Tabulator("#search-results", {
            // height:205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
            data:searchResults, //assign data to table
            layout:"fitColumns", //fit columns to width of table (optional)
            columns:[ //Define Table Columns
                {title:"Title", field:"title"},
                {title:"Abstract", field:"abstract"},
                {title:"Download", field:"downloadLink", maxWidth: 100, formatter:renderLink, formatterParams: {labelField: "Download"}},
                {title:"View", field:"paperLink", maxWidth: 100, formatter:renderLink, formatterParams: {labelField: "View"}},
            ],
        });

    </script>
</body>
</html>