<!DOCTYPE html>
<html>
<head>
    <title>Semantic Scholar Paper Abstract</title> <!-- Add this line -->
</head>
<body>
    <h1>Find Papers by Author</h1>
    <form method="POST">
        <label for="author_name">Author Name:</label>
        <input type="text" name="author_name" value="{{ author_name }}" required>
        <button type="submit">Search</button>
    </form>
    {% if abstract and title %}

    <h2>Title:</h2>
    <p>{{ title }}</p>
    
    <h2>Abstract:</h2>
    <p>{{ abstract }}</p>



    {% elif abstract %}
    <h2>Abstract:</h2>
    <p>{{ abstract }}</p>

    {% elif title %}
    <h2>Title:</h2>
    <p>{{ title }}</p>


    {% else %}
    <p>No paper found for the author.</p>
    {% endif %}
</body>
</html>